:host {
  display: block;
}

.invalid-border {
  border: 0.1px solid #ff1d1d !important;
}

.valid-border {
  border: 0.1px solid #06f34d !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
