.invalid-border {
  border: 0.1px solid #ff1d1d !important;
}

.valid-border {
  border: 0.1px solid #06f34d !important;
}


.removeNetwork{
  width: 25px!important;
  height: auto;
  cursor: pointer;
  margin-top: 10px!important;
  margin-left: 10px;
}
