<div class="container">
  <div class="row m-0 d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-5">
      <div class=" ">
        <div>
          <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()" class="p-2">
            <!-- country -->
            <div class="form-item mb-3">
              <label for="text" class="fw-bold">COUNTRY</label>
              <input type="text" autocomplete="off" id="name" name="name"
                class="form-control form-text-field  shadow-none mt-1" formControlName="name" placeholder="">
              <div class="error" *ngIf="(sampleForm.get('name')?.invalid && submitted)">
                <small class="text-danger" *ngIf="sampleForm.get('name')?.errors?.['required'] ">Country name required
                </small>
              </div>
            </div>


            <div formArrayName="networks" *ngFor="let item of networks.controls let i=index">
              <div [formGroupName]="i">
                <div class="form-item mb-3">
                  <div class="d-flex">
                    <input type="text" autocomplete="off" name="name" id="name" required
                      class="form-control shadow-none mt-1" formControlName="name" placeholder="Network">
                    <span *ngIf="i>0">
                      <!-- <img src="../../../assets/images/remove.png" (click)="removeNetwork(i)" class="removeNetwork"
                        alt=""> -->
                      <i class="fa fa-trash-o" aria-hidden="true"></i>

                    </span>
                  </div>
                  <div class="error" *ngIf="networks.controls[i].get('name')?.invalid && submitted">
                    <small class="text-danger" *ngIf="networks.controls[i].get('name')?.errors?.['required']">
                      Network name required
                    </small>
                  </div>
                </div>

              </div>
            </div>


            <button (click)="addNetwork()" type="button" class="btn btn-dark btn-sm">add network</button>
            <button class="btn btn-dark w-100 shadow-none mt-3" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>