<!-- <app-header></app-header> -->
<div class="container-fluid vh-100 backgroundImage">
  <div class="container pt-3">
    <a class="navbar-brand fs-1 fw-bolder primary" [routerLink]="['/home']" routerLinkActive="active">iCare</a>
  </div>
  <div class="container">
    <div class="row centered d-flex justify-content-between align-items-center">
      <div class="col-lg-7 col-md-12 col-sm-12 ">
        <h2 class="fw-bold primary">Welcome</h2>
        <p>Remember to prioritize your health. Regular doctor's appointments are essential for staying in top shape.
          Your well-being matters, so schedule that check-up or follow-up appointment today. Taking care of your health
          is the first step towards a happier, healthier you. Log in and take charge of your well-being!"
        </p>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>